@import '../variables/tokens.scss';

.card-empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  color: $colorSecondary;
}

.cart-content {
  height: 100%;
  overflow-y: auto;

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/26/38/suc4Nm.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
  }

  .checkout-subtotal {
    background: $bgWhite;
    min-width: 100%;
    padding: $p10;
    border-radius: $p10 $p10 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    box-sizing: border-box;
  }

  .cart-element {
    margin: 20px 0 20px 0;
    &:nth-last-child(2) {
      margin-bottom: 140px;
    }
    .progress {
      background-color: rgba(255, 255, 255, 0.548);
      width: 200px;
      height: 130px;
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
