@import '../variables/tokens.scss';

.card-empty {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 90vh;
  min-width: 300px;
  justify-content: center;
  align-items: center;
  color: $bgOrange;
}

.cart-content {
  height: 100%;
  overflow-y: auto;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 100%;
    content: '';
    background-image: url(https://cdn.wallpapersafari.com/26/38/suc4Nm.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.4;
    z-index: -1;
  }

  .checkout-subtotal {
    background: #fff;
    width: 100%;
    padding: $p10;
    border-radius: $p10 $p10 0 0;
    position: absolute;
    bottom: 0;
    right: 0;
    min-width: 100%;
    box-sizing: border-box;
  }

  .cart-element {
    &:nth-last-child(2) {
      margin-bottom: 120px;
    }
  }
}
