@import '../variables/tokens.scss';

* {
  padding: 0;
  margin: 0;
  font-family: $fontDefault;
}

.card {
  max-width: 380px;
  padding: $p10;
  border-radius: $p10;
  img {
    width: 90%;
    height: auto;
    margin: 0 auto;
  }
  p {
    text-align: center;
    font-family: $fontDefault;
  }
}
